/* common */

body {
  background-color: #1c1e5e;
}

/* header */

header {
  background-color: rgb(137, 148, 78);
  padding: 10px;
  margin: 0;
}

.headercontainer {
  display: flex;
  align-items: center;
}

header img {
  width: 70px;
  height: 70px;
}

header h1 {
  color: azure;
  text-shadow: 1.5px 1.5px 1px #7febb5;
  padding-left: 10px;
}

/* main */

.intro {
  color: #eee;
}

.intro + .intro::first-letter {
  color: #7febb5;
}

.intro + .intro {
  margin: 0;
}

/* accordion */

dl {
  background: #1b1e53;
}

dt {
  list-style-type: none;
  padding: 15px;
  background-color: rgba(137, 148, 78, 0.308);
  color: azure;
  text-shadow: .5px .5px 1px #7febb5;
  font-size: 17px;
  cursor: pointer;
  user-select: none;
  position: relative;
}

dt::before {
  content: '・';
}

dt::after {
  content: '+';
  position: absolute;
  top: 14px;
  right: 16px;
  transition: transform .3s;
}

dl > div.appear dt::after {
  transform: rotate(45deg);
}

dd {
  padding: 8px;
  margin: 0;
  display: none;
  border: 2px solid #6bbeb06b;
}

dl > div {
  margin-bottom: 8px;
}

dl > div.appear dd {
  display: block;
  animation: 1s fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

/* item */

h2 {
  color: azure;
  text-shadow: 1.5px 1.5px 1px #7febb5;
  padding-left: 10px;
}

table {
  border-collapse: collapse;
  width: 80%;
}

th, td {
  border: 1px solid #aaa;
  height: 30px;
  padding: 0 0 0 10px;
}

#n {
  width: 70px;
  text-align: center;
  padding: 0;
}

.f {color: rgb(178, 185, 67);}
.s {color: rgb(162, 203, 204);}
.t {color: rgb(172, 138, 46);}

table a, th, td, p, h3, h4 {
  color: #eee;
}

/* .container {
  display: flex;
} */

.winner {
  width: 60%;
  padding-left: 30px;
}

h3 {
    color: #7febb5;
}

h4 {
  margin: 0;
  padding-left: 20px;
}

p {
  margin: 0;
  padding-left: 40px;
}

/* large screen */

@media (min-width: 900px) {
  table {
  width: 700px;
  }

  .bigcontainer {
    width: 865px;
  }
}

/* footer */

footer {
  margin-top: 50px;
  padding: 50px;
  text-align: center;
  background-color: #0d0e3d;
  color: azure;
}